<div>
	<div class="card">
		<h5 class="card-header">Usuario UCOL</h5>
		<div class="card-body">
			<h5 class="card-title">Datos personales</h5>
			<div class="card-text">
				<% if (user) { %>
					<ul>
						<li>Nombre: <%= user.name %> </li>
						<li>correo: <%= user.email %> </li>
						<li>Cuenta: <%= user.nAccount %> </li>
						<li>Rol: <%= user.rol %> </li>
						<li>Dependencia: <%= user.dependency %> </li>
					</ul>
				<% } %>
			</div>
		</div>
	</div>
</div>