<!DOCTYPE html>
<html lang="es">
  <head>
    <title>NotiBuilder -Dashboard</title>
    <%- include('partials/head'); %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/NotiBuilder/css/dashboard.css">
  </head>

  <body>
    <div id="sidebar" class="sidenav bg-noti-t5">
      <div class="sidenav-header bg-noti-t3">
        <div class="d-flex flex-column align-items-center">
          <div class="p-2 flex-fill">
            <img src="/img/random/user.png" alt="profile.pic" class="rounded-circle" />
          </div>
          <div class="p-2 flex-fill">
            <p class="text-center text-secondary">Miguel Rodriguez</p>
          </div>
        </div>
      </div>
      <div class="sidenav-nav">
        <h4 class="mx-3 my-1 text-dark">Gestionar</h4>
        <a href="/dashboard/usuarios"><i class="fas fa-users noti-t1 mx-1"></i>Usuarios</a>
        <a href="/dashboard/noticias" class="active"><i class="fas fa-newspaper noti-t1 mx-1"></i>Noticias</a>
        <a href="/dashboard/sponsors"><i class="fas fa-hand-holding-heart noti-t1 mx-1"></i>Sponsors</a>
        
        <h4 class="mx-3 my-1 text-dark">Cuenta</h4>     
        <a href="/dashboard/perfil"><i class="fas fa-user-circle noti-t1 mx-1"></i>Perfil</a>
        <a href="/logout"><i class="fas fa-sign-out-alt noti-t1 mx-1"></i>Cerrar Sesion</a>
      </div>
    </div>
    <section class="content p-0" id="content">
      <nav class="shadow navbar navbar-expand-md navbar-light bg-light static-top mb-3">
        <div class="m-0 p-0 navbar-brand" >
          <button href="mx-1" type="button" class="btn mx-1 btn-light" id="sidebarCollapse">
            <i class="fa fa-align-left"></i>
          </button>NotiBuilder</div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav mt-2 ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/logout">Cerrar Sesion<span class="sr-only">(session)</span></a>
            </li>
          </ul>
        </div>
      </nav>
      <article class="container-fluid mt-4">
        <% switch (area) {
          case 'usuarios': %>
            <%- include('admin/usuarios'); %>
            <% break;
          case 'sponsors': %>
            <%- include('admin/sponsors'); %>
            <% break;
          case 'noticias': %>
            <%- include('admin/noticias'); %>
            <% break;
          case 'perfil': %>
            <%- include('admin/perfil', {user}); %>
            <% break;
        } %>
      </article>
    </section>
    <%- include('partials/scripts'); %> 
    <script src="/javascripts/notiBuilder/dashboard.js">
    </script>
  </body>
</html>